@{
}
<p>No account? <a asp-area="" asp-controller="Login" asp-action="SignUp">Sign up!</a></p>
<h1>Login</h1>

<form method="post">
    <div class="form-element">
        <label>Email</label>
        <input name="Email" type="email" />
    </div>
    <div class="form-element">
        <label>Password</label>
        <input name="Password" type="password" />
    </div>

    <input type="submit" value="Login" />
</form>